/*variables*/

:root {
    --main-font: "Inter";
    --secondary-font: "Mulish";
    --third-font: "Playfair+Display";
    --main-color: #202336;
    --turbid-color: #B8BECD;
    --dark-grey-color: #4A4C53;
    --white-color: #FFFFFF;
    --total-black-color: #000000;
    --six-color: #7D7987;
    --orange-color: #FB8F1D;
    --light-grey-color: #848484;
    --black-color:#042521;
    --grey-color: #80918E;
}

/*base styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 60px;
}



/*typography*/

h1, .h1 {
    margin-bottom: 74px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
    width: 356px;
}

h2, .h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

h3, .h3 { 
    margin-bottom: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

h4, .h4 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

p {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

figcaption {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #80918E;
}

figcaption span {
    display: block;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

q, blockquote {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

cite {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
color: rgba(0, 0, 0, 0.85);
}

cite span {
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}

/*components*/


button, .button, input[type=button], input[type=submit] {
    background: #FB8F1D;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 38px;
    min-width: 164px;
    border: 1px solid #FB8F1D;
}

button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #ff9b31;
    border-color: #ff9b31;
    color: #FFFFFF;
}

button:active, .button:active, input[type=button]:active, input[type=submit]:active {
    background-color:#da7f1e;
    border-color: #da7f1e;
}

button.transparent, .button.transparent, input[type=button].transparent, input[type=submit].transparent {
    background: transparent;
    color: #FB8F1D;
}

button.transparent:hover, .button.transparent:hover, input[type=button].transparent:hover, input[type=submit].transparent:hover {
    background-color:#FB8F1D ;
    color: #FFFFFF;
}

button.transparent:active, .button.transparent:active, input[type=button].transparent:active, input[type=submit].transparent:active {
    background-color: #ff9b31;
    border-color: #ff9b31;
    color: #e6dcd1;
}

a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    text-decoration: none;
}

a:hover {
    color:#da7f1e;
}

a.view-all {
    position: relative;
    padding-right: 65px;
    font-size: 17px;
    line-height: 60px;
}

a.view-all::after {
    content: "";
    position: absolute;
    top: 0;
    right: 55px;
    display: block;
    width: 6px;
    height: 100%;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transform:translateX(100%);
}

a.view-all:hover::after {
    padding-right: 15px;
}

/*form*/

form {
    margin-bottom: 11px;
}


fieldset{
    display: flex;
    margin-bottom: 35px;
    border: 0;
}

fieldset .select-wrapper {
    position: relative;
    margin-right: 31px;
}

fieldset .select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 31px;
    width: 10px;
    height: 10px;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    transform:translateY(-50%);
    pointer-events: none;
}

select{
    width: 221px;
    padding: 0 31px;
    border: 1px solid #AFB0B9;
    border-radius: 6px;
    outline: none;
    min-width: 60px;
    min-height: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #4A4C53;

    -webkit-appearance: none;
}

form button, form input[type=button], form input[type=submit] {
    min-width: 180px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 17px;
    line-height: 52px;
}

/* header */

header{
    position: fixed;
    width: 100%;
    padding: 43px 0;
    background-color: white ;
    z-index: 1;
}

header a {
    line-height: 0;
}

nav {
    display: flex;
    align-items: center;
}

.menu, .buttons {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li a {
    padding: 8px 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
}

.menu li a:hover{
    color: #afb4c0;
}

.menu li a.active {
    font-weight: 500;
    color: #202336;
}

.buttons li {
    margin-left: 18px;
}

.buttons li button {
    min-width: 132px;
    padding: 0 36px;
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
}

.buttons li button.active {
    background: transparent;
    color: #FB8F1D;
}

/*section.form-and-img*/

.form-and-img {
    padding: 170px 0px 143px;
    
}

.form-and-img .text-and-form {
    margin-top: -6px;
}

.form-and-img img {
    position: relative;
    top: -3px;
    left: 85px;
}


.form-and-img h2.h3 {
    position: relative;
    padding-bottom: 23px;
}
h2.h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 32px;
    height: 2px;
    background: #202336;
}


.form-and-img .circle-big-shape {
    position: absolute;
    left: -51px;
    top: 324px;
}

.form-and-img .circle-shape {
    position: absolute;
    left: 603px;
    top: 613px;
    width: 20px;
    height: 20px;
}

.form-and-img .cross-shape {
    position: absolute;
    left: 527px;
    top: 50px;
}

/*section img and text*/

.img-and-text {
    padding: 143px 0;
}

.img-and-text.reverse .section-container {
    flex-direction: row-reverse;
}

.text-wrapper {
    max-width: 435px;
    margin-top: -20px;
    margin-right: 73px;
}

.text-wrapper p {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
}

.img-and-text.reverse .text-wrapper  {
    max-width: 435px;
    margin-left: 50px;
    margin-top: -48px;
}

.text-wrapper .button {
    margin-top: 39px;
}

.img-and-text img {
    position: relative;
    right: 49px;
    top: -3px;
    
}

.img-and-text.reverse img {
    position: relative;
    top: -54px;
    left: -41px;
}

.img-and-text .circle {
    position: absolute;
    top: 359px;
    right: 221px;
    width: 20px;
    height: 20px;
}

.img-and-text .cross {
    position: absolute;
    transform: rotate(7deg);
    left: 697px;
    top: -17px;
}

.img-and-text.reverse .circle-left {
    position: absolute;
    left: 155px;
    top: 32px;
    width: 20px;
    height: 20px;
}

.img-and-text.reverse .cross-top {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1298px;
    top: -15px;
}

.img-and-text.reverse .cross2 {
    position: absolute;
    transform: rotate(21deg);
    left: 529px;
    top: 371px;
}

/*section featured-destination*/

.featured-destination {
   padding: 143px 0;
}

.featured-destination .section-container {
    flex-direction: column;
    align-items: stretch;
}

.featured-destination .title-wrapper {
   display: flex;
   justify-content: space-between;
   margin-left: 50px;
   margin-top: 3px;
}

.featured-destination .location-list {
    display: grid;
    max-width: 1123px;
    margin-left: 49px;
    margin-top: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    list-style: none;
}

.featured-destination .location-list img {
    width: 100%;
    border-radius:8px ;
}

.featured-destination figure {
    position: relative;
}

.featured-destination figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 11px;
    padding-right: 20px;
    min-width: 120px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
}


.featured-destination .circle-grid {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -27px;
    left: 1039px;
}

.featured-destination .circle2-grid {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 485px;
    left: 612px;
}

.featured-destination .cross-grid {
    position: absolute;
    transform: rotate(8deg);
    top: 303px;
    left: -7px;
}

/*section testimonials*/

.testimonials {
    padding: 143px 0;
}

.testimonials .section-container {
    flex-direction: column;
    align-items: flex-start;
}

.testimonials-slide {
    max-width: 100%;
}

/*section locations*/

.locations {
    padding: 143px 0; 
}

.locations .section-container {
    flex-direction: column;
    align-items: stretch;
}

.locations .title-wrapper2 {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 3px;
 }

 .locations .trending-stories {
    display: grid;
    max-width: 1400px;
    margin-left: 49px;
    margin-top: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 23px;
    list-style: none;
}

.locations .trending-stories img {
    border-radius: 8px;
    width: 280px;
    height: 230px;
}

.locations .circle-top {
    position: absolute;
}

.locations .cross-left {
    position: absolute;
}

.locations .cross-down {
    position: absolute;
}