/*variables*/

:root {
    --main-font: "Inter";
    --secondary-font: "Mulish";
    --third-font: "Playfair+Display";
    --main-color: #202336;
    --turbid-color: #B8BECD;
    --dark-grey-color: #4A4C53;
    --white-color: #FFFFFF;
    --total-black-color: #000000;
    --six-color: #7D7987;
    --orange-color: #FB8F1D;
    --light-grey-color: #848484;
    --black-color:#042521;
    --grey-color: #80918E;
}

/*base styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 60px;
}



/*typography*/

h1, .h1 {
    margin-bottom: 74px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
    width: 356px;
}

h2, .h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

h3, .h3 { 
    margin-bottom: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

h4, .h4 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

p {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

figcaption {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #80918E;
}

figcaption span {
    display: block;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

q, blockquote {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

cite {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
}

cite span {
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}

/*components*/


button, .button, input[type=button], input[type=submit] {
    background: #FB8F1D;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 38px;
    min-width: 164px;
    border: 1px solid #FB8F1D;
}

button.slick-arrow {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #000000;
    font-size: 0px;
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
}

button.slick-arrow:hover {
    background-color: transparent;
    border: 2px solid #000000;
}
 button.slick-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 21px;
    display: block;
    width: 6px;
    height: 100%;
    background-image: url(../img/arrow-black.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transform:translateX(100%);
 }

button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #e6a857;
    border-color: #e6a857;
    color: #FFFFFF;
    transition: 3s;
}

button:active, .button:active, input[type=button]:active, input[type=submit]:active {
    background-color:#da7f1e;
    border-color: #da7f1e;
}

button.transparent, .button.transparent, input[type=button].transparent, input[type=submit].transparent {
    background: transparent;
    color: #FB8F1D;
}

button.transparent:hover, .button.transparent:hover, input[type=button].transparent:hover, input[type=submit].transparent:hover {
    background-color:#FB8F1D ;
    color: #FFFFFF;
    transition: 5s;
}

button.transparent:active, .button.transparent:active, input[type=button].transparent:active, input[type=submit].transparent:active {
    background-color: #ff9b31;
    border-color: #ff9b31;
    color: #e6dcd1;
}


a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    text-decoration: none;
}

a:hover {
    color:#da7f1e;
    transition: 5s;
}

a.view-all {
    position: relative;
    right: 5px;
    font-size: 17px;
    line-height: 60px;
    padding-right: 11px;
}

a.view-all::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    width: 6px;
    height: 100%;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

a.view-all:hover::after {
    width: 11px;
}

/*form*/

form {
    margin-bottom: 11px;
}


fieldset{
    display: flex;
    margin-bottom: 35px;
    border: 0;
}

fieldset .select-wrapper {
    position: relative;
    margin-right: 31px;
}

fieldset .select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 31px;
    width: 10px;
    height: 10px;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    transform:translateY(-50%);
    pointer-events: none;
}

select{
    width: 221px;
    padding: 0 31px;
    border: 1px solid #AFB0B9;
    border-radius: 6px;
    outline: none;
    min-width: 60px;
    min-height: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #4A4C53;

    -webkit-appearance: none;
}

form button, form input[type=button], form input[type=submit] {
    min-width: 180px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 17px;
    line-height: 52px;
}

/* header */

header{
    position: fixed;
    width: 100%;
    padding: 43px 0;
    background-color: white ;
    z-index: 1;
}

header a {
    line-height: 0;
}

nav {
    display: flex;
    align-items: center;
}

.menu, .buttons {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li a {
    padding: 8px 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
}

.menu li a:hover{
    color: #afb4c0;
}

.menu li a.active {
    font-weight: 500;
    color: #202336;
}

.buttons li {
    margin-left: 18px;
}

.buttons li button {
    min-width: 132px;
    padding: 0 36px;
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
}

.buttons li button.active {
    background: transparent;
    color: #FB8F1D;
}

/*section.form-and-img*/

.form-and-img {
    padding: 171px 0px 145px;
    
}

.form-and-img .text-and-form {
    margin-top: -6px;
}

.form-and-img img {
    position: relative;
    top: -3px;
    left: 85px;
}


.form-and-img h2.h3 {
    position: relative;
    padding-bottom: 23px;
}
h2.h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 32px;
    height: 2px;
    background: #202336;
}


.form-and-img .circle-big-shape {
    position: absolute;
    left: -51px;
    top: 324px;

    animation-name: circle-big-shape;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes circle-big-shape {
    0% {
        width: 26px;
        height: 26px;
    }

    100% {
        width: 29px;
        height: 29px;
    }
}

.form-and-img .circle-shape {
    position: absolute;
    left: 603px;
    top: 613px;
    width: 20px;
    height: 20px;

    animation-name: circle-shape;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes circle-shape {
    0% {
        width: 20px;
        height: 20px;
    }

    100% {
        width: 23px;
        height: 23px;
    }
}

.form-and-img .cross-shape {
    position: absolute;
    left: 527px;
    top: 50px;

    animation-name: cross-shape;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cross-shape {
    0% {
        width: 20px;
        height: 20px;
    }

    100% {
        width: 23px;
        height: 23px;
    }
}



/*section img and text*/

.img-and-text {
    padding: 140px 0;
}

.img-and-text.reverse .section-container {
    flex-direction: row-reverse;
}

.text-wrapper {
    max-width: 436px;
    margin-bottom: 19px;
    margin-right: 72px;
}

.text-wrapper p {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
}

.img-and-text.reverse .text-wrapper  {
    max-width: 435px;
    margin-left: 50px;
    margin-bottom: 48px;
}

.text-wrapper .button {
    margin-top: 39px;
}

.img-and-text img {
    position: relative;
    right: 49px;
    top: -3px;
    
}

.img-and-text.reverse img {
    position: relative;
    top: -54px;
    left: -41px;
}

.img-and-text .circle {
    position: absolute;
    top: 359px;
    right: 221px;
    width: 20px;
    height: 20px;
}

.img-and-text .cross {
    position: absolute;
    transform: rotate(7deg);
    left: 697px;
    top: -17px;
}

.img-and-text.reverse .circle-left {
    position: absolute;
    left: 155px;
    top: 32px;
    width: 20px;
    height: 20px;
}

.img-and-text.reverse .cross-top {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1298px;
    top: -15px;
}

.img-and-text.reverse .cross2 {
    position: absolute;
    transform: rotate(21deg);
    left: 529px;
    top: 371px;
}

/*section featured-destination*/

.featured-destination {
   padding: 149px 0 146px;
}

.featured-destination .section-container {
    flex-direction: column;
    align-items: stretch;
}

.featured-destination .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    width: 100%;
    max-width: 1120px;
   
}

.featured-destination .location-list {
    display: grid;
    max-width: 1123px;
    margin-left: 49px;
    margin-top: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    list-style: none;
}

.featured-destination .location-list img {
    width: 100%;
    border-radius:8px ;
}

.featured-destination figure {
    position: relative;
}

.featured-destination figure:hover {
    box-shadow: 10px -10px 10px rgba(0,0,0,0.2);
}

.featured-destination figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 11px;
    padding-right: 20px;
    min-width: 120px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
}

.featured-destination figcaption:hover {
    min-width: 125px;
    padding-left: 5px;
}


.featured-destination .circle-grid {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -29px;
    left: 1039px;
}

.featured-destination .circle2-grid {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 483px;
    left: 612px;
}

.featured-destination .cross-grid {
    position: absolute;
    transform: rotate(8deg);
    top: 301px;
    left: -8px;
}

/*section testimonials*/

.testimonials {
    padding: 54px 0;
}

.testimonials .section-container {
    flex-direction: column;
}

.testimonials .title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1120px;
}

.testimonials .testimonials-slider {
    width: 100%;
}

.testimonials .testimonials-slider .slider-container {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
}

.testimonials .slider-wrapper {
    margin-top: 145px;
    margin-right: 135px;
    margin-left: 50px;
}

.testimonials .testimonials-slider ul.rating {
    margin-bottom: 27px;  
}

.testimonials .testimonials-slider li {
    display: inline-block;
    list-style: none;
    padding-right: 11px;
}

.testimonials-slider .slider-wrapper cite {
    font-style: initial;
}

.testimonials-slider .slider-wrapper span {
    margin-top: 28px;
    margin-bottom: -12px;
}


.testimonials .slider-img img  {
    border-radius: 13px;
    margin-top: 60px;
    margin-right: 152px;
}

.testimonials .background-button {
    position: absolute;
    width: 132px;
    height: 60px;
    bottom: 0;
    right: 152px;
    font-size: 0;
    background: #FFFFFF;
    border-radius: 16px 0px 0px 0px;
}


.testimonials-slider button {
    right: 0;
    bottom: 0;
    padding-top: 11px;
    padding-right: 20px;
    background: #FFFFFF;
 }

.testimonials-slider button.slick-next {
    right: 152px;
}

.testimonials-slider button.slick-prev {
    position: absolute;
    right: 213px;
    z-index: 1;
}

.testimonials-slider button.slick-prev::after {
    transform: rotate(180deg);
    right: 16px;
}

.testimonials-slider .slick-disabled {
    opacity: 0.2;
}

.testimonials-slider button.slick-next:hover, .testimonials-slider button.slick-prev:hover, .testimonials-slider .slick-disabled:hover {
    opacity: 0.5;
    transition: 2s;
}

.testimonials .circle-slide {
    position: absolute;
    width: 22px;
    left: -35px;
    top: 300px;
}

.testimonials .circle2-slide {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 194px;
    top: 94px;
}

.testimonials .cross-slide {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 731px;
    top: 583px;
    transform: rotate(96deg);
    z-index: 1;
}


/*section trending-stories*/

.trending-stories {
    padding: 232px 0 272px; 
}

.trending-stories .section-container {
    flex-direction: column;
    align-items: stretch;

}

.trending-stories .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 100%;
    max-width: 1120px;
 }


 .trending-stories .popular-posts h3.h4 {
    height: 60px;
    margin-top: 9px;
    margin-bottom: 13px;
 }

 .trending-stories .popular-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    list-style: none;
    margin-left: 51px;
    margin-right: 54px;
 }

 .trending-stories .popular-posts img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 232px;
    object-fit: cover; 
    object-position: 0 0;
  
}

.trending-stories .popular-posts p {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 23px;
}


.trending-stories .cross-top {
    position: absolute;
    top: -55px;
    left: 515px;
    transform: rotate(9deg);
}

.trending-stories .circle-left {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 368px;
    left: 13px;
}

.trending-stories .circle-down {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 607px;
    left: 850px;
}

/* footer */

footer{
    padding: 46px 0 0px;
    background-color: #F9F9FB;
}

footer .section-container {
    flex-wrap: wrap;
    
}

footer .text-wrapper {
    max-width: 340px;
    margin-right: 28px;
}

footer .text-wrapper span {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
}

footer .text-wrapper p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 26px;
}

footer .text-wrapper img {
    width: 44px;
    height: 44px;
    margin-top: 32px;
}

footer li h4 {
    font-family: 'Mulish';
    line-height: 60px;
    color: #000000;
}

footer ul {
    margin-left: 88px;
    margin-right: 9px;
    list-style: none;
}



footer li a {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

footer li a:hover {
    color: #a38f8f;
}

footer a:hover {
    opacity: 0.7;
}

footer ul.social {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    margin-bottom: 33px;
}

footer .social li {
    display: inline-block;
    padding-right: 35px;
}

footer ul::after {
    content: "";
    position: absolute;
    left: 59px;
    bottom: 90px;
    width: 1223px;
    height: 1px;
    background: #C4C4C4;
}

